@page "/login"
<PageTitle>Login</PageTitle>


<div class="d-flex flex-column align-items-center my-5">
    <div class="row justify-content-center gy-5">
        <EditForm Model="@_loginModel" OnValidSubmit="Authenticate" class="col-auto login-form">
            <DataAnnotationsValidator/>

            <h2>Login</h2>
            <InputText class="form-input login-input" id="email" @bind-Value="_loginModel.Email" placeholder="Email"/>
            <div class="align-self-center mx-auto">
                <ValidationMessage For="@(() => _loginModel.Email)"/>
            </div>
            <InputText class="form-input login-input" id="password" @bind-Value="_loginModel.Password" type="password" placeholder="Password"/>
            <div class="align-self-center mx-auto">
                <ValidationMessage For="@(() => _loginModel.Password)"/>
            </div>
            <a class="nav-link login-nav-link" href="@ForgotPasswordUrl">Forgot Password</a>
            <input id="remember-me" type="checkbox" checked="@_loginModel.RememberMe">
            <label for="remember-me">Remember me</label>
            @if (string.IsNullOrWhiteSpace(_errorMessage) == false)
            {
                <div class="validation-message">@_errorMessage</div>
            }
            <button class="form-confirm-btn login-btn" type="submit">Login</button>
        </EditForm>
        <div class="col-auto">
            <h2>Do not have an account?</h2>
            <button class="form-confirm-btn login-btn" onclick="@(() => NavManager.NavigateTo("/register"))">Register</button>
        </div>
    </div>
</div>