@page "/register"
@using ElectronicShopper.Library
@inject Navigation NavManager


<EditForm Model="@_registerModel" OnValidSubmit="@TryToRegister">
    <DataAnnotationsValidator/>

    <div class="d-flex flex-column align-items-center my-5">
        <div class="row justify-content-center gy-5">
            <div class="col-auto login-form">
                <h2>Create account</h2>
                <InputText class="form-input login-input" id="first-name" @bind-Value="_registerModel.FirstName" placeholder="First name"/>
                <div class="align-self-center mx-auto">
                    <ValidationMessage For="@(() => _registerModel.FirstName)"/>
                </div>
                <InputText class="form-input login-input" id="last-name" @bind-Value="_registerModel.LastName" placeholder="Last name"/>
                <div class="align-self-center mx-auto">
                    <ValidationMessage For="@(() => _registerModel.LastName)"/>
                </div>
                <InputText class="form-input login-input" id="email" @bind-Value="_registerModel.Email" placeholder="Email"/>
                <div class="align-self-center mx-auto">
                    <ValidationMessage For="@(() => _registerModel.Email)"/>
                </div>
                <InputText class="form-input login-input" id="password" @bind-Value="_registerModel.Password" type="password" placeholder="Password"/>
                <div class="align-self-center mx-auto">
                    <ValidationMessage For="@(() => _registerModel.Password)"/>
                </div>
                <InputText class="form-input login-input" id="confirm-password" @bind-Value="_registerModel.ConfirmPassword" type="password" placeholder="Confirm password"/>
                <div class="align-self-center mx-auto">
                    <ValidationMessage For="@(() => _registerModel.ConfirmPassword)"/>
                </div>

                @if (string.IsNullOrWhiteSpace(_errorMessage) == false)
                {
                    <div class="validation-message">@_errorMessage</div>
                }
                <button class="form-confirm-btn login-btn" type="submit">CreateAccount</button>
                <div>
                    <small>Have an account? <a class="nav-link login-nav-link" href="@LoginUrl">Login</a></small>
                </div>
            </div>
        </div>
    </div>
</EditForm>