@using ElectronicShopper.Library
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using ElectronicShopper.Library.Identity
@using ElectronicShopper.Library.Services
@implements IDisposable
@inject ICartService CartService
@inject Navigation NavManager
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

<div id="appbar" class="d-flex px-3">
    <h2 class="me-auto my-auto p-2 align-self-center appbar-title" onclick="@(() => NavManager.NavigateTo("/"))">ElectronicsShopper</h2>
    <div class="p-2 align-self-center">
        <AuthorizeView>
            <Authorized>
                <span>@UserManager.GetUserAsync(context.User).Result.FirstName</span>
                <span class="profile-link" onclick="@(() => NavManager.NavigateTo("/logout", true))">Logout</span>
            </Authorized>
            <NotAuthorized>
                <div class="profile-link" @onclick="@(() => NavManager.NavigateTo("/login"))">Login</div>
            </NotAuthorized>
        </AuthorizeView>
    </div>

    <div class="appbar-separator"></div>
    <div class="p-2 cart" onclick="@OnCartClick">
        <img src="images/Basket.png" alt="basket">

        @if (CartService.Count > 0)
        {
            <div class="cart-count">
                @CartService.Count
            </div>
        }
    </div>
</div>

@code {

    protected override Task OnInitializedAsync()
    {
        CartService.CartCountChange += UpdateCartIcon;
        return Task.CompletedTask;
    }

    private void OnCartClick()
    {
        NavManager.NavigateTo("/cart");
    }

    public void Dispose()
    {
        CartService.CartCountChange -= UpdateCartIcon;
    }


    private void UpdateCartIcon()
    {

        InvokeAsync(StateHasChanged);
    }


    private async Task<string> GetUserName(ClaimsPrincipal user)
    {
        var u = await UserManager.GetUserAsync(user);
        return u.FirstName;
    }

}